#ability {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    background-color: var(--color-secondary);
}

.ability-title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    height: 20%;
    color: var(--color-text-secondary);
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
}

.ability-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}

.ability-grid-container {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
}

.aibility-title-item {
    width: 90%;
    padding: 1.2rem;
    height: 12rem;
    background-color: var(--color-background-cream);
    border-radius: 1rem;
    color: var(--color-text-secondary);
    font-family: Work Sans;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.aibility-title-item ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ability-description-item {
    border-radius: 1rem;
    color: var(--color-my-name-text);
    font-family: Work Sans;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

@media (max-width: 1535px) {
    .ability-title {
        height: 15%;
    }
    .aibility-title-item {
        font-size: 1.3rem;
    }
    .aibility-title-item ul{
        gap: 0.5rem;
    }
    .ability-description-item {
        font-size: 1rem;
    }
  }